absl_py==0.10.0
jax==0.2.8
jaxlib==0.1.60
matplotlib==3.5.1
ml_collections==0.1.0
numpy==1.19.5
ninja
pandas==1.4.1
scipy==1.10.1
seaborn==0.12.2
six==1.15.0
tensorflow==2.5.0
tensorflow_probability==0.12.2
tensorflow_datasets==3.1.0
tensorflow_gan==2.0.0
tensorflow_hub==0.13.0
torch==2.0.0
torchvision==0.15.1
tqdm==4.65.0
torch_fidelity
